# Node modules
node_modules/

# Yarn / npm / pnpm logs
yarn-debug.log*
yarn-error.log*
npm-debug.log*
pnpm-debug.log*

# Expo
.expo/
.expo-shared/
web-build/

# Metro bundler cache
.cache/

# Build output (bare workflow / EAS Build)
build/
dist/
ios/
android/

# Pods (iOS, si usas bare workflow)
ios/Pods/
*.xcworkspace
*.xcodeproj
*.xcuserdata
*.xcuserstate

# Gradle (Android)
android/.gradle/
android/app/build/
android/.idea/
*.iml

# Environment files
.env
.env.*.local

# Testing coverage
coverage/

# VS Code
.vscode/
.history/

# IDEs
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# React Native Packager
react-native/packager-cache-*

# Misc
*.log
*.tsbuildinfo

# NPM audit logs
audit.json

# EAS build artifacts
*.tar.gz
*.ipa
*.apk

# Hermetic cache (React Native)
.hermes

# Watchman
.watchmanconfig
